{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "/static/admin/css/nav-global.css" %}" />{% endblock %}

{% block title %}{{ title }} | {% trans 'Service level monitoring' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Service level monitoring administration' %} </h1>
{% endblock %}

{% block nav-global %}
<nav id="navigation">
	<ul>
		<li>
			<a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
		</li>
		<li>
			<a href="/admin/stock_info/operation">{% trans "Product flow" %}</a></li>
		<li>
			<a href="/admin/stock_info/quality">{% trans "Quality of service" %}</a></li>
		<li>
			<a href="/admin/stock_info/orderfailure">{% trans 'Reasons of order failures' %}</a>
		</li>
		<li>
		{% if user.has_usable_password %}
            <a href="{% url 'admin:password_change' %}">{% trans 'Change user data' %}</a>	
        {% endif %}
        </li>
	</ul>
</nav>
{% endblock %}
