#site-name {
	font-size: 2em !important;
}
#navigation > ul {
	margin-top: auto;
	margin-bottom: auto;
}
#navigation > ul > li {
	display: inline;
	margin: 0px 30px;
}
#navigation > ul > li > a {
	color: #f4f379 !important;
	text-decoration: none !important;
	font-weight: bold;
	font-size: 1.2em;
}
#navigation > ul > li > a:hover{
	color: #ffc !important;
}