{% extends "admin/base_site.html" %}
{% load admin_static i18n %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "css/databrowse.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/changelists.css" %}" />

{% endblock %}

{% block extrahead %}{{ block.super }}
{% endblock %}

{% block content %}

{% block object-tools %}
{% endblock %}
{% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}</ul>
        {% endif %}   
<div id="content-main">

    <form action="" method="post" enctype="multipart/form-data" id="gate_mode_form">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                {% for field in form %}
                <div class="form-row">
                    <div>
                        {{ field.errors }}
                        <div {% if field.field.required %} class="required" {% endif %} >
                            <label for="id_{{ field.name }}">{{ field.label }}:</label>
                        </div>
                        {{ field }}
                    </div>
                    {% endfor %}
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="{% trans 'OK' %}"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}