{% extends "admin/base_site.html" %}
{% load nvd3_tags %}
{% load admin_static i18n %}


{% block extrastyle %}{{ block.super }}
<link media="all" href="{% static "nvd3/src/nv.d3.css" %}"/>
{% endblock %}

{% block extrahead %}{{ block.super }}
{% include_chart_jscss %}
{% load_chart charttype chartdata "chart_container" extra %}
{% endblock %}

{% block content %}

{% block object-tools %}
{% endblock %}
<div id="content-main">
	<div id="chart_container">
		{% include_container "chart_container" 400 800 %}
	</div>
    <form action="" method="post" enctype="multipart/form-data" id="gate_mode_form">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
            	<table>
                	{% for field in form %}
                	<tr>
                		<div class="form-row">
                    		<div>
                        	{{ field.errors }}
                        	<div >
                            	<td><label for="id_{{ field.name }}">{{ field.label }}:</label></td>
                            	<td>{{ field }}</td>
                        	</div>
                    	</div>
                    </tr>
                	{% endfor %}
                </table>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="{% trans 'OK' %}"/>
                <input type="button" value="{% trans 'Print' %}" onclick="redirect();"/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
	function redirect(){
		var href = document.location.href;
		href = href + '&print=1';
		document.location.href = href;
	}
</script>
{% endblock %}

