{% extends "admin/base_site.html" %}
{% load admin_static i18n %}
{% load nvd3_tags %}

{% block extrastyle %}{{ block.super }}
{% endblock %}

{% block extrahead %}{{ block.super }}
{% include_nvd3jscss %}
{% load_chart charttype chartdata "linechart_container" is_date format format_y %}
{% endblock %}

{% block content %}

{% block object-tools %}
{% endblock %}
<div id="content-main">

    <form action="" method="post" enctype="multipart/form-data" id="gate_mode_form">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
            	<table>
                	{% for field in form %}
                	<tr>
                		<div class="form-row">
                    		<div>
                        	{{ field.errors }}
                        	<div >
                            	<td><label for="id_{{ field.name }}">{{ field.label }}:</label></td>
                            	<td>{{ field }}</td>
                        	</div>
                    	</div>
                    </tr>
                	{% endfor %}
                </table>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="{% trans 'OK' %}"/>
            </div>
        </div>
    </form>
</div>
{% endblock %}